{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="event">
        <h1>{{ event.name }}</h1>
        <p> Start Time: {{ event.register_start_time }} </p>
        <p> End Time: {{ event.register_end_time }} </p>
        <p> Current Number : {{ event.registrants.count() }}</p>
        {% if event.max_number %}
            <p> Max Number: {{ event.max_number }} </p>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="{{ event.registrants.count() }}" aria-valuemin="0" aria-valuemax="{{ event.max_number }}"
                style="width: {{ 100.0*(event.registrants.count())/(event.max_number) }}%;">
                    <span class="sr-only">{{ event.registrants.count() }} / {{ event.max_number }} registered.</span>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="register-form">
        {{ wtf.quick_form(form) }}
    </div>
{%- endblock %}