{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{# Styles #}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='register.css')}}">
{% endblock %}

{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="event">
        <h1>{{ event.name }}</h1>
        <p> 报名开始时间: {{ event.register_start_time }} </p>
        <p> 报名结束时间: {{ event.register_end_time }} </p>
        <p> 已报名人数 : {{ event.registrants.count() }}</p>
        {% if event.max_number %}
        <p> 最大报名人数: {{ event.max_number }} </p>
        {% endif %}
        {% if event.max_number %}
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="{{ event.registrants.count() }}" aria-valuemin="0" aria-valuemax="{{ event.max_number }}"
                style="width: {{ 100.0*(event.registrants.count())/(event.max_number) }}%;">
                    <span class="sr-only">{{ event.registrants.count() }} / {{ event.max_number }} registered.</span>
                </div>
            </div>
        {% endif %}
        <div class="event-desc-block">
            <label class="event-desc-label">活动介绍</label>
            <div class="event-desc-content">
                {{ event.desc }}
            </div>
        </div>
    </div>
    <div class="register-form">
        {{ wtf.quick_form(form) }}
    </div>
{%- endblock %}

{# Scripts #}
{% block scripts %}
    {{ super() }}
    <script src='{{url_for(".static", filename="register.js")}}' ></script>
{% endblock %}
